* {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

@font-face {
	font-family: 'TenorSans';
	src: url('./assets/fonts/Tenor_Sans/TenorSans-Regular.ttf');
	font-weight: 900;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fcfcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body { 
  margin: 0;
  display: flex;
}

h1 {
  font-family: 'TenorSans';
  text-transform: uppercase;
  font-size: 58px;
  line-height: 1.1;
}

h4 {
  font-family: 'TenorSans';
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.1;
}

h5 {
  font-family: 'TenorSans';
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.1;
}

a {
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  color: #2c83b2;
	font-weight: 700;
  text-underline-offset: 5px;
  transition: 500ms;
  height: max-content;
}

a:hover {
  color: rgb(227, 190, 3);
}


