body {
  box-sizing: border-box;
  margin: 0px; 
  background-color: rgb(235, 235, 235);
}

/* The list of projects */

.video-container {
  background-color: rgb(255, 255, 255); 
  margin: auto; 
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 5%; 
  padding-left: 1em;
  padding-top: 0.5em;
  width: 20em;
  height: 34.7em; 
  border-radius: 11px;
  box-shadow:3px 3px 4px grey
}

.video-card { 
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(200, 200, 200, 0.7); 
  margin-right: 1em;
  height: 5em;
  display: flex;
  margin-top: 0.5em;
}

.video-card:hover {
  background-color: rgb(200, 245, 154);
  cursor: pointer;
}

.video-thumbnail {
  height: 5em;
  width: 9em;
  
}

.video-card-title {
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-size: 15px;
}

.video-card-desc {
  margin-left: 0.7em;
  margin-top: 0.5em;
  margin-bottom: 0em;
  color: rgb(60, 60, 60);
}

.play-arrow {
  margin-left: 0em; 
  visibility: hidden;

}

.video-card:hover .play-arrow {
  visibility: visible;
}

.main-video-container {
  display: flex;
  justify-content: space-evenly;
}

/* For functional purposes, this is div is not visible, only there to support the formatting */
.video-screen-container {
  height: 10em; 
}


/* The video description section */ 

.description {
  background-color: white;
  height: 42em; 
  width: 53.3em;
  margin-top: 1em; 
  padding-top: 0.1em;
  border-radius: 11px;
  box-shadow:2px 2px 4px grey
}

.project-title {
  font-weight: 400;
  margin-left: 0.7em;
  margin-bottom: 0em;
}

.project-views-date {
  color: grey; 
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 3em;
}

hr {
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.project-description-title {
  font-weight: 400;
  margin-left: 0.7em; 
  margin-bottom: 0em; 
}

.project-description-text {
  margin-left: 0.7em;
  margin-right: 15em;
  margin-bottom: 2em; 
  font-size: 14px;
}

.project-challenges-title {
  font-weight: 400;
  margin-left: 0.7em; 
  margin-bottom: 0em;
}

.project-challenges-text {
  margin-left: 0.7em;
  margin-right: 15em;
  margin-bottom: 2em; 
  font-size: 14px;
}

.project-outcomes-title {
  font-weight: 400;
  margin-left: 0.7em; 
  margin-bottom: 0em;
}

.project-outcomes-text {
  margin-left: 0.7em;
  margin-right: 15em;
  margin-bottom: 2em; 
  font-size: 14px;
}
