body {
  box-sizing: border-box;
  margin: 0px; 
}

.video-container {
  background-color: cadetblue; 
  margin: auto; 
  margin-bottom: 10px;
  padding-left: 1em;
  width: 20em;
  height: 40em; 


}

